<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/09/09 13:00:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankBazzarTestCase.basic()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">basic</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/09 13:00:06</td>   <td>-15446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;bankPM.login()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/09 13:00:06</td>   <td>-15465</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BankBazzarTestCase.setData()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 13:00:05</td>   <td>-16210</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 13:00:06</td>   <td>-15457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 13:01:31</td>   <td>69922</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:testcases.BankBazzarTestCase@6fc6f14e]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
</table>
