<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>18/09/01 13:20:37</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/01 13:20:37</td>   <td>508</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/01 13:20:38</td>   <td>1181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/01 13:20:38</td>   <td>1204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/01 13:21:25</td>   <td>48586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/01 13:21:36</td>   <td>59338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/01 13:21:37</td>   <td>60488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/01 13:21:37</td>   <td>60488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/01 13:21:48</td>   <td>71111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/01 13:21:58</td>   <td>81255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/01 13:21:59</td>   <td>82543</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:testcases.TC002_EditLead@4e9ba398]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
